<template name="home">
    <div class="container">
        <ul class="list-group">
            {{#each todos}}
                <li class="list-group-item">{{text}} <button class="removeTodo" type="button">Sil</button> </li>
            {{/each}}
        </ul>

        <form id="addTodo">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input name="text" type="text" class="form-control" placeholder="Enter text">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</template>
